@import '/home/yagatho/.cache/hellwal/colors-waybar.css';

/* Whole site */
* {
	font-size: 15px;
	font-family: Iansui;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none;
}



/* Whole bar */
window#waybar {
	all: unset;
	background-color: transparent;
}



/* Modules */
.modules-left {
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

.modules-center {
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

.modules-right {
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}



/* Tooltip */
tooltip {
	background: @background;
	color: @color7;
}


#pulseaudio {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}


/* Workspaces */
#workspaces {
	padding: 0px 5px;
}

#workspaces button {
	all: unset;
	padding: 0px 5px;
	color: alpha(@color9, .9);
	transition: all .2s ease;
}

#workspaces button:hover {
	color: rgba(0, 0, 0, 0);
	border: none;
	transition: all 1s ease;
}

#workspaces button.active {
	color: #fd9644;
	border: none;
}

/* Singular button */
#custom-alpaca {
	padding-top: 4px;
	font-weight: bold;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
	padding-bottom: 4px;
}
